<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="static/style/css/menu.css" rel="stylesheet">
<script type="text/javascript" src="static/style/js/menu.js"></script>
<title>Insert title here</title>
</head>
<body>
<h1>Menu</h1>


<nav class="nav">
	<ul>
		<li><a href="/usuarios">Usuarios</a>
        <li><a href="/clientes">Clientes</a>
		<li><a href="/vehiculos">Vehiculos</a>
		<li><a href="/repuestos">Repuestos</a>
		<li><a href="/facturacion">Facturacion</a>
		<li><a href="/hojasdeparte">Hojas de parte</a>
		<li><a href="/">Salir</a>
	</ul>
</nav>

<footer>
    <p class="main">
        TP Java 2019 Milton, Sotto Diaz - Alejandro Donnola
    </p>
</footer>
</body>
</html>
