<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="static/style/css/menu.css" rel="stylesheet">
<script type="text/javascript" src="static/style/js/menu.js"></script>
<title>Insert title here</title>
</head>
<body>
<h1>Menu</h1>

<form action= "/menucontrolador" method= "POST">
<nav class="nav">
	<ul>
		<li><a><button type="submit" name = "btnMenu" value="Usuarios">Usuarios</button></a>
        <li><button type="submit" name = "btnMenu" value="Clientes" >Clientes</button>
		<li><button type="submit" name = "btnMenu" value="Vehiculos" >Vehiculos</button>
		<li><button type="submit" name = "btnMenu" value="Repuestos" >Repuestos</button>
		<li><button type="submit" name = "btnMenu" value="Facturacion">Facturacion</button>
		<li><button type="submit" name = "btnMenu" value="HojaDeParte">Hojas de parte</button>
		<li><button type="submit" name = "btnMenu" value="Salir">Salir</button>
	</ul>
</nav>
</form>
<footer>
    <p class="main">
        TP Java 2019 Milton, Sotto Diaz - Alejandro Donnola
    </p>
</footer>
</body>
</html>
